/*
* @Author: miaamiaaaa
* @Date:   2018-03-10 15:48:14
* @Last Modified by:   miaamiaaaa
* @Last Modified time: 2018-03-10 16:36:42
*/
.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}

.nav-simple .logo{
	font-size: 20px;
	font-weight: bold;
	color: #c60023;
}